label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#imageContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-card {
  background: #fff;
  border: 1px solid #aaa;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}

.image-card img {
  max-width: 100%;
  height: auto;
  margin-top: 5px;
}
